.admin-new-nav * {
  height: fit-content;
}
.altert-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.oneoone-alerts img {
  width: 100%;
  object-fit: contain;
  max-width: 200px;
}
